<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>

    <title>Homepage</title>
</head>
<body>
    
</body>
    <%- include('./partials/nav') %>
    <%= JSON.stringify(user) %>
    <%- include('./partials/scripts') %>
</html>